/Cajero/dist/
/4to_semestre/loops/nbproject/private/
/4to_semestre/loops/build/
/4to_semestre/ranbow/nbproject/private/
/4to_semestre/shoppingcart/nbproject/private/
/4to_semestre/shoppingcart/build/
/4to_semestre/shoppingkart/nbproject/private/
/4to_semestre/shoppingkart/build/
/4to_semestre/firebase4j-master/target/
/4to_semestre/conversion/nbproject/private/
/4to_semestre/conversion/build/
/4to_semestre/to_array/nbproject/private/
/4to_semestre/to_array/build/
/4to_semestre/Lockers/nbproject/private/
/4to_semestre/Lockers/build/
/4to_semestre/encrypt/nbproject/private/
/4to_semestre/encrypt/build/
/4to_semestre/Prog_Argumentos/nbproject/private/
/4to_semestre/leer_archivos/nbproject/private/
/4to_semestre/leer_archivos/build/
/4to_semestre/prog_ejercicio_funciones_a01652138/nbproject/private/
/4to_semestre/prog_ejercicio_funciones_a01652138/build/
/4to_semestre/IP/nbproject/private/
/4to_semestre/IP/build/
/4to_semestre/sqlite_test/nbproject/private/
/4to_semestre/sqlite/nbproject/private/
/4to_semestre/sqlite_test/build/